{% extends 'base.html.twig' %}


{% block body %}


{%for author in authors %}
        {%for book in author.books %}
        <li>{{ book.title }}</li>
        {% endfor %}
{% endfor %}

{% endblock %}
