{% extends 'base.html.twig' %}

{% block body %} 
<ul>


<p> 155 rue de la bibliothèque </p>
<p> Lundi - Vendredi </p>
<p> Horaires : 9h - 17h </p>
</br>
<a href="mailto:email@example.com">Send Email</a>

</ul>



{% endblock %}