{% extends 'base.html.twig' %}

{% block body %} 


<body>
<ul>
<li>{{book.title}}</li>
<li>{{book.author}}</li>
<li>{{book.description}}</li>
</ul>
<li> <a href = "http://127.0.0.1:8000/books"> Retour liste des livres </a> </li>

</body>


{% endblock %}
